In [57]:
import pandas as pd

In [58]:
data = pd.read_csv('2791_2019dar.csv')

In [59]:
teaminput = int(input('Enter a team number'))
teamdata = data[data['Team Number'] == teaminput]

In [60]:
teamdata

,Team Number,Match Number,Starting Position,Hab Line 1/0,Auto # H Ship Side,Auto # H Ship Front,Auto # C Ship Side,Auto C Rkt Lvl,Auto H Rkt Lvl,Auto H Rkt Lvl [2],...,Tele Dropped H,Def pl amt,Def pl quality,Def rec amt,Who Played D,Fouls? 0/1,Dead 0-3,Highest success,Highest attempt,Was assisted? 1/0
4,3381,1,M,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,3381,18,M,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
176,3381,31,M,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
252,3381,44,L1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
311,3381,55,M,1,0,0,0,0,0,0,...,0,0,0,1,353,0,0,1,0,0
341,3381,60,R1,1,0,0,0,0,0,0,...,0,0,0,2,191,0,0,1,1,0
392,3381,69,R1,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,1,0
497,3381,87,M,1,0,0,1,0,0,0,...,0,3,1,0,0,0,0,1,1,0
550,3381,96,R1,0,0,0,1,0,0,0,...,0,2,2,0,0,0,0,0,0,0
639,3381,112,M,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
664,3381,112,M,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0